<div class=" container animated fadeInUp">
    <div class="row">
        <div class="col-md-8">
            <main class="border-danger">
                <div class="p-3 border-radius-8 border">
                    <p>Lo the only mathe thetyy</p>
                </div>
            </main>
        </div>
        <div class="col-md-4">
            <aside class="border-danger">
                <div class="p-3 border-radius-8 border">
                    <p>Lo the only mathe thetyy</p>
                </div>
            </aside>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-md-2 mx-auto">
        <h1>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, libero! Quo repudiandae, fugiat magnam, aliquam pariatur ducimus eius sequi, facilis adipisci rem in ex veniam? Dolorum ipsum cupiditate quo quas?
        </h1>
        <h1>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, libero! Quo repudiandae, fugiat magnam, aliquam pariatur ducimus eius sequi, facilis adipisci rem in ex veniam? Dolorum ipsum cupiditate quo quas?
        </h1>
        <h1>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, libero! Quo repudiandae, fugiat magnam, aliquam pariatur ducimus eius sequi, facilis adipisci rem in ex veniam? Dolorum ipsum cupiditate quo quas?
        </h1>
        <h1>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, libero! Quo repudiandae, fugiat magnam, aliquam pariatur ducimus eius sequi, facilis adipisci rem in ex veniam? Dolorum ipsum cupiditate quo quas?
        </h1>
        <h1>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, libero! Quo repudiandae, fugiat magnam, aliquam pariatur ducimus eius sequi, facilis adipisci rem in ex veniam? Dolorum ipsum cupiditate quo quas?
        </h1>
        <h1>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, libero! Quo repudiandae, fugiat magnam, aliquam pariatur ducimus eius sequi, facilis adipisci rem in ex veniam? Dolorum ipsum cupiditate quo quas?
        </h1>
        <h1>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, libero! Quo repudiandae, fugiat magnam, aliquam pariatur ducimus eius sequi, facilis adipisci rem in ex veniam? Dolorum ipsum cupiditate quo quas?
        </h1>
    </div>
</div> -->