<!-- <mat-toolbar class="bg-white">
    <div class="container">
        <div class="d-flex">
            <a mat-raised-button routerLink="/admin">Admin</a>
            <a mat-raised-button class="ml-3" routerLink="/Login">Login</a>
        </div>
    </div>
</mat-toolbar>
<div class="container">
    <router-outlet></router-outlet>
    <footer>
        <h5>Footer</h5>
    </footer>
</div> -->


<!-- Scroll to top -->


<mat-sidenav-container class="sidenav-container dashboard-light posts">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" mode="over" opened="false">
        <div class="sidenav-rounded">
            <mat-toolbar class="animated">
                <div class="d-flex justify-content-between w-100">
                    <div class="user d-flex align-items-center align-content-center ">
                        <!-- <img style="width:38px" src="../../../../assets/img/twitter.png"> -->
                        <h3 class="mb-0 main text-bolder-black">JUST A THOUGHT
                        </h3>
                    </div>
                    <div class="icon-links d-flex align-items-center align-content-center">
                        <button (click)="drawer.toggle()" tabindex="-1" mat-icon-button>
                            <mat-icon>close</mat-icon>
                    </button>
                    </div>
                </div>

            </mat-toolbar>


            <mat-nav-list>
                <mat-list class="border-bottom">
                    <mat-list-item>
                        <mat-icon mat-list-icon class="bg-dark border">person</mat-icon>
                        <p mat-line class="text-bolder">Khosi Khoza</p>
                        <p mat-line>
                            @Khosi-khoza
                        </p>
                    </mat-list-item>
                </mat-list>
                <mat-list>

                    <a mat-list-item routerLink="/posts" routerLinkActive="active" tabindex="-1" [routerLinkActiveOptions]="{exact:
                        true}" (click)="closeMen(drawer)">
                        <mat-icon mat-list-icon>home</mat-icon>
                        <span mat-line *ngIf="bigMenu">Home</span>
                    </a>
                    <a class="hide-desktop" tabindex="-1" mat-list-item routerLink="/search" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                        true}" (click)="closeMen(drawer)">
                        <mat-icon mat-list-icon>search</mat-icon>
                        <span mat-line *ngIf="bigMenu">Search</span>
                    </a>

                    <mat-accordion mat-list-icon tabindex="-1">
                        <mat-expansion-panel tabindex="-1">
                            <mat-expansion-panel-header tabindex="-1" [ngClass]="{'panel-padding': bigMenu}">
                                <mat-panel-title tabindex="-1">
                                    <a matTooltip="Edit pages" mat-list-item>
                                        <mat-icon mat-list-icon>sort</mat-icon>
                                        <span *ngIf="bigMenu" mat-line>Categories</span>
                                    </a>
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <a tabindex="-1" (click)="closeMen(drawer)" mat-list-item routerLink="gallery" routerLinkActive="active">
                                <mat-icon mat-list-icon>done_all</mat-icon>
                                <span *ngIf="bigMenu" mat-line>Gallery</span>
                            </a>

                            <a tabindex="-1" (click)="closeMen(drawer)" matTooltipClass="bg-dark" mat-list-item routerLink="youtube" routerLinkActive="active">
                                <mat-icon mat-list-icon>done_all</mat-icon>
                                <span *ngIf="bigMenu" mat-line>YouTube</span>
                            </a>
                            <a tabindex="-1" (click)="closeMen(drawer)" mat-list-item routerLink="gallery" routerLinkActive="active">
                                <mat-icon mat-list-icon>done_all</mat-icon>
                                <span *ngIf="bigMenu" mat-line>Gallery</span>
                            </a>

                            <a tabindex="-1" (click)="closeMen(drawer)" matTooltip="Edit All Pages" matTooltipClass="bg-dark" mat-list-item routerLink="youtube" routerLinkActive="active">
                                <mat-icon mat-list-icon>done_all</mat-icon>
                                <span *ngIf="bigMenu" mat-line>YouTube</span>
                            </a>
                        </mat-expansion-panel>
                    </mat-accordion>

                    <a mat-list-item routerLink="add-blog" routerLinkActive="active" tabindex="-1" (click)="closeMen(drawer)">
                        <mat-icon mat-list-icon>info</mat-icon>
                        <span mat-line *ngIf="bigMenu">About</span>
                    </a>
                    <a mat-list-item routerLink="all-blogs" routerLinkActive="active" tabindex="-1" (click)="closeMen(drawer)">
                        <mat-icon mat-list-icon>perm_contact_calendar</mat-icon>
                        <span mat-line *ngIf="bigMenu">Contact</span>
                    </a>
                    <a mat-list-item routerLink="users" routerLinkActive="active" tabindex="-1" (click)="closeMen(drawer)">
                        <mat-icon mat-list-icon>security</mat-icon>
                        <span mat-line *ngIf="bigMenu">Privacy Policy</span>
                    </a>

                    <a mat-list-item routerLink="profile" routerLinkActive="active" tabindex="-1" (click)="closeMen(drawer)">
                        <mat-icon mat-list-icon>code</mat-icon>
                        <span mat-line *ngIf="bigMenu">Developer</span>
                    </a>
                </mat-list>
            </mat-nav-list>


        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <header>
            <mat-toolbar class="main border-bottom">
                <div class="container w-100">
                    <div class="d-flex justify-content-between w-100">

                        <div class="d-flex align-content-center align-items-center hide-desktop">
                            <button (click)="drawer.toggle()" tabindex="-1" type="button" aria-label="Toggle sidenav" class=" mr-3 " mat-icon-button>
                            <mat-icon  style="font-weight: border" class="text-bolder">menu</mat-icon>
                        </button>
                        </div>

                        <div class="d-flex align-content-center align-items-center  header-logo">
                            <mat-icon (click)="drawer.toggle()" class="text-bolder-black hide-mobile mr-3">menu</mat-icon>
                            <p class="mb-0 text-bolder">
                                Just A Thought
                            </p>
                        </div>

                        <div class="d-flex d-flex align-content-center align-items-center search-form hide-mobile">
                            <input class="form-control" placeholder="Searcg blog..">
                        </div>

                        <div class="d-flex d-flex align-content-center align-items-center hide-mobile">
                            <button tabindex="-1" type="button" class="icon-hover-style " mat-icon-button>
                                <mat-icon class="text-bolder-black">fiber_manual_record</mat-icon>
                        </button>
                            <button tabindex="-1" type="button" class="icon-hover-style" mat-icon-button>
                            <mat-icon class="text-bolder-black">fiber_manual_record</mat-icon>
                    </button>
                            <button tabindex="-1" type="button" class="icon-hover-style" mat-icon-button>
                        <mat-icon class="text-bolder-black">fiber_manual_record</mat-icon>
                        </button>
                            <button tabindex="-1" type="button" class="btn btn-sm btn-dark ml-3">
                            Login
                    </button>
                        </div>

                        <div class="d-flex d-flex align-content-center align-items-center hide-desktop">
                            <button mat-icon-button class="icon-hover-style ml-3"><mat-icon class="text-bolder-black ">mail_outline</mat-icon></button>
                        </div>
                    </div>
                </div>
            </mat-toolbar>
            <!-- ./ -->
            <!-- <div class="nav-scroller-con animated" *ngIf="showCategory" [ngClass]="{showCategory: 'fadeInUp'}">
                <div class="nav-scroller py-1 mb-2 shadow-sm bg-fa">
                    <div class="container-fluid">
                        <nav class="nav d-flex justify-content-between">
                            <a class="p-2 main-color-blue text-bold" href="#">World</a>
                            <a class="p-2 main-color-blue text-bold" href="#">U.S.</a>
                            <a class="p-2 main-color-blue text-bold" href="#">Technology</a>
                            <a class="p-2 main-color-blue text-bold" href="#">Design</a>
                            <a class="p-2 main-color-blue text-bold" href="#">Culture</a>
                            <a class="p-2 main-color-blue text-bold" href="#">Business</a>
                            <a class="p-2 main-color-blue text-bold" href="#">Politics</a>
                            <a class="p-2 main-color-blue text-bold" href="#">Opinion</a>
                            <a class="p-2 main-color-blue text-bold" href="#">Science</a>
                            <a class="p-2 main-color-blue text-bold" href="#">Health</a>
                            <a class="p-2 main-color-blue text-bold" href="#">Style</a>
                            <a class="p-2 main-color-blue text-bold" href="#">Travel</a>
                            <a class="p-2 main-color-blue text-bold" href="#">Health</a>
                            <a class="p-2 main-color-blue text-bold" href="#">Style</a>
                            <a class="p-2 main-color-blue text-bold" href="#">Travel</a>
                        </nav>
                    </div>
                </div>
            </div> -->
        </header>

        <div class="container outlet-con ">
            <div class="row">
                <div class="col-md-8">
                    <main class="border-danger">
                        <router-outlet></router-outlet>
                    </main>
                </div>

                <div class="col-md-4 sidebar-con">
                    <aside class="border-danger">
                        <app-posts-sidebar></app-posts-sidebar>
                    </aside>
                </div>
            </div>

        </div>
        <footer class="py-3 bg-light mt-5">
            <div class="container">
                <div class="d-flex justify-content-between w-100">
                    <div>
                        <p class="mb-0 text-bolder-black">
                            Just A Thought
                        </p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="mb-0 ml-3">Home</p>
                        <p class="mb-0 ml-3">Home</p>
                        <p class="mb-0 ml-3">Home</p>
                        <p class="mb-0 ml-3">Home</p>
                        <p class="mb-0 ml-3">Home</p>
                    </div>

                </div>
            </div>
        </footer>
        <!-- Welcome screen -->
        <div id="fadeId" class="welcome-screen delay-3s animated zoomOutDown duration-3s">
            <img class=" " src="../../../../assets/img/logo-shadow.svg">
            <p class="">Just a Thought</p>
        </div>
        <app-scroll-up></app-scroll-up>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- 
let likesGiven = 0; setInterval(() => { let heart = document.getElementsByClassName('.wpO6b'); let arrow = document.querySelector('.coreSpriteRightPaginationArrow'); heart.click(); arrow.click(); likesGiven++; console.log(`You've liked ${likesGiven} post(s)!`);
}, 4000); -->