:host ::ng-deep {
    $main-gray: #ccd6dd;
    $main-blue: #1da1f2;
    $main-black: #000000;
    .main-color-blue {
        color: $main-blue !important;
    }
    .sidenav-container {
        height: 100%;
        background-color: #ffffff;
    }
    .sidenav-container.blur {
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }
    .user-pic {
        background-position: center;
        background-size: contain;
    }
    .mat-drawer {
        background-color: transparent !important;
    }
    .sidenav {
        width: 260px;
        border: 0;
        min-height: 100vh;
        .mat-expansion-panel-header {
            &:focus {
                background-color: transparent !important;
            }
            &:active {
                background-color: transparent !important;
            }
        }
        .sidenav-rounded {
            height: 100%;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .mat-toolbar {
            background: transparent;
            height: 54px !important;
        }
        .mat-nav-list {
            .mat-list-item {
                font-size: 14px;
                span.mat-line {
                    font-weight: 600 !important;
                }
            }
            .mat-expansion-panel {
                background: transparent !important;
                color: inherit !important;
                box-shadow: none !important;
            }
            .mat-expansion-panel-header {
                padding: 0 !important;
            }
            .mat-expansion-panel-header.panel-padding {
                padding: 0 24px 0 0 !important;
            }
            .mat-expansion-panel-body {
                padding: 0 !important;
            }
        }
    }
    // Containt
    .mat-sidenav-content {
        background-color: #fafafa !important;
        overflow-x: hidden !important;
        header {
            position: sticky;
            top: 0;
            z-index: 100;
            margin-bottom: 40px;
            .mat-toolbar.main {
                height: 54px !important;
                background-color: #ffffff;
                p {
                    font-size: 18px;
                    text-transform: capitalize;
                }
            }
        }
        .header-logo {
            .mat-icon {
                &:hover {
                    cursor: pointer !important;
                }
            }
        }
    }
    // 
    .search-form {
        .form-control {
            border-radius: 60px;
            font-size: 13px !important;
            line-height: 1.0;
            background-color: #fafafa;
            border: 0 !important;
        }
    }
    .mat-list-base .mat-list-item .mat-line {
        text-overflow: ellipsis !important;
        span:last-of-type {
            overflow: hidden;
            text-overflow: ellipsis !important;
        }
    }
    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        max-width: 100% !important;
        overflow-x: auto;
        overflow-y: hidden;
        // background-color: #fff;
    }
    .nav-scroller .nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
    .nav-scroller .nav-link {
        padding-top: .75rem;
        padding-bottom: .75rem;
        font-size: .875rem;
    }
    // ====== Themes   ========//
    .dashboard-light {
        .sidenav {
            .sidenav-rounded {
                background-color: #ffffff;
                background-image: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.877)), url('../../../../assets/img/m2.jpg');
            }
            .mat-toolbar {
                border-bottom: 1px solid #eee;
                .mat-icon-button {
                    // border: 1px solid #000 !important;
                    color: #000 !important;
                    font-weight: bolder;
                    &:hover {
                        border-color: transparent !important;
                        background-color: #eaf7ff;
                        color: rgba(29, 161, 242, 1.00) !important;
                    }
                }
            }
            .mat-nav-list {
                background-color: transparent !important;
                .mat-list-item {
                    background-color: transparent !important;
                    &:hover {
                        border-color: transparent !important;
                        background-color: #eee;
                        color: #09a1ff !important;
                        .mat-icon {
                            color: #09a1ff !important;
                        }
                    }
                }
                .mat-icon {
                    color: #abb3b9 !important;
                    font-weight: normal !important;
                }
            }
        }
    }
    .dashboard-blue {
        .sidenav {
            .sidenav-rounded {
                background-color: #1da1f2;
                background-image: linear-gradient(to bottom, #1da1f2, #1da0f2de), url('../../../../assets/img/m2.jpg');
            }
            .mat-toolbar {
                border-bottom: 1px solid #fff;
                .mat-icon-button {
                    border: 1px solid #fff !important;
                    color: #fff!important;
                    font-weight: bolder;
                    &:hover {
                        border-color: transparent !important;
                        background-color: #eaf7ff;
                        color: rgba(29, 161, 242, 1.00) !important;
                    }
                }
            }
            .mat-nav-list {
                .mat-list-item {
                    &:hover {
                        border-color: transparent !important;
                        background-color: rgba(16, 65, 245, 0.435);
                        color: #000000 !important;
                        .mat-icon {
                            color: #ffffff !important;
                        }
                    }
                }
                .mat-icon {
                    color: #333335 !important;
                    font-weight: normal !important;
                }
            }
        }
    }
    aside {
        // position: sticky;
        // top: 94px;
        // z-index: 100;
        // display: block;
        .mat-card,
        .card {
            box-shadow: none !important;
            margin-bottom: 20px;
            overflow: hidden;
            mat-list h3 {
                a {
                    font-size: 14px !important;
                    font-weight: bold !important;
                    color: #000000;
                }
            }
            p {
                font-size: 14px !important;
                font-weight: normal !important;
                color: gray;
            }
        }
    }
    // Main-footer
    footer.main-footer {}
    footer.mobile-footer {
        position: sticky;
        bottom: 0;
        z-index: 100;
        background-color: #ffffff;
        .m-footer-nav {
            height: 50px !important;
            // background-color: #ffffff;
        }
    }
    // Welcome screen
    .welcome-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #eee;
        text-align: center;
        z-index: 99999;
        background-position-y: top;
        img {
            width: 10%;
            margin: 0 auto;
            margin-top: 150px;
        }
        p {
            position: absolute;
            bottom: 30px;
            font-size: 18px;
            font-weight: bolder;
            width: 100%;
        }
    }
    @media (min-width: 1200px) {
        .container,
        .container-lg,
        .container-md,
        .container-sm,
        .container-xl {
            max-width: 960px;
        }
    }
    @media (min-width: 768px) {
        .hide-desktop {
            display: none !important;
        }
    }
    @media (max-width: 991.93px) {
        .hide-mobile-and-tablet {
            display: none !important;
        }
    }
    @media (max-width: 767.93px) {
        .mat-sidenav-content {
            background-color: #eee !important;
        }
        .hide-mobile {
            display: none !important;
        }
        .mat-sidenav-content {
            header {
                margin-bottom: 0 !important;
                .mat-toolbar.main {
                    height: 45px !important;
                }
                .header-logo {
                    width: 100%;
                    p {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
        .container.outlet-con,
        header .container {
            padding-left: 0;
            padding-right: 0;
        }
        .sidenav {
            width: 65%;
        }
        // Welcome screen
        .welcome-screen {
            background-color: #fff;
            // -webkit-animation-name: fadeInUp;
            // animation-name: fadeInUp;
            img {
                width: 30%;
                margin-top: 200px;
            }
            p {
                bottom: 20px;
                // font-size: 18px;
                font-weight: bold;
            }
        }
    }
}