<!--  -->
<div class="main-con mb-4">
    <div *ngIf="users.length < 1 else showUsers" class="text-center">
        <p class="mt-5 mb-5 d-flex justify-content-center align-content-center align-items-center w-100">
            <mat-icon class="text-warning">warning</mat-icon> No users to display.
        </p>
        <button mat-raised-button class="main-color-blue btn-rounded"><mat-icon>refresh</mat-icon> Refresh </button>
        <button mat-raised-button class="main-btn-blue ml-md-4"> Add new user </button>
    </div>
    <ng-template #showUsers>

        <mat-toolbar [ngClass]="{'checked': checked}" class="table-main-header">
            <div class="d-flex justify-content-between align-items-center align-content-center px-2 w-100">
                <div>
                    <mat-checkbox class="mt-3" [(ngModel)]="checked" color="warn" class="example-margin">Select all</mat-checkbox>
                </div>

                <div *ngIf="checked">
                    <button matTooltip="Delete" mat-icon-button color="warn" class="ml-3"><mat-icon>delete_outline</mat-icon></button>
                    <button matTooltip="Export" mat-icon-button color="warn" class="ml-3"><mat-icon><mat-icon>import_export</mat-icon></mat-icon></button>
                </div>

                <div>
                    <button class="btn btn-sm btn-outline-primary">See more</button>
                </div>

            </div>
        </mat-toolbar>

        <div class="container">
            <div class="table-con table-responsive  mt-0 bg-white">
                <table class="table ">
                    <thead class="table-header">
                        <tr>
                            <th><span>##</span><span class="ml-3">Avater</span></th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Created</th>
                            <th class=" d-flex justify-content-end align-content-center align-items-center ">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let user of users">
                            <tr>
                                <td>
                                    <mat-checkbox [checked]="checked" color="warn" class="mr-3"></mat-checkbox>
                                    <img class="border-radius-50" src="../../../../assets/img/Aggital-2018-in-Review-13.jpg">
                                </td>
                                <td>Saint Sample</td>
                                <td>saint@gmail.com</td>
                                <td>Apr 23, 2020</td>
                                <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                    <button [matMenuTriggerFor]="formMenu" title="Edit account" mat-icon-button>
                                <mat-icon class="text-muted">more_vert</mat-icon>
                            </button>
                                    <mat-menu #formMenu="matMenu">
                                        <button mat-menu-item>
                              <mat-icon>dialpad</mat-icon>
                              <span>Redial</span>
                            </button>
                                        <button mat-menu-item disabled>
                              <mat-icon>voicemail</mat-icon>
                              <span>Check voice mail</span>
                            </button>
                                        <button mat-menu-item>
                              <mat-icon>notifications_off</mat-icon>
                              <span>Disable alerts</span>
                            </button>
                                    </mat-menu>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-template>
</div>