.table {
    .account-no {
        &:hover {
            cursor: pointer;
            background-color: gray;
            color: #ffffff;
        }
    }
    thead th {
        border: 0 !important;
        font-size: 14px;
    }
    tbody {
        tr {
            &:hover {
                background-color: #eaf7ff;
                color: #1c9deb !important;
                .mat-icon,
                td,
                a {
                    color: #1c9deb !important;
                    font-weight: bolder;
                    border-color: transparent !important;
                }
            }
        }
    }
    td {
        padding: .10rem !important;
        padding-left: 10px !important;
        vertical-align: middle !important;
        border-top: 1px solid #f4f5f6;
    }
    .flesh-tr {
        tr:first-child {
            background: rgb(255, 255, 162);
        }
    }
}