<div class="container  main-gray-g">
    <div class="animated fadeInUp">
        <div class="row pt-3 m-0 ">
            <div class="col-md-7">
                <!-- <div class="border welcome  h-100 px-4 py-4 w-100 " style="border-radius: 10px;">
                    <h4 class="mb-5">Welcome, St. Stephen</h4>
                    <p class="mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totamdig eius nesciunt reprehenderit dolore molestiae, quasi atque est hic neque qui natus.</p>
                    <div class="text-center">
                        <button class="mt-4 main-btn-blue" mat-button>Do something</button>
                    </div>
                </div> -->
            </div>
            <div class="col-md-12">
                <div class="d-flex justify-content-between  boxes w-100">
                    <div class=" mb-4">
                        <mat-card routerLink="users" class="link-box box-1 d-flex align-content-center align-items-center justify-content-center">
                            <div class="link-box-text">
                                <mat-icon>group</mat-icon>
                            </div>
                        </mat-card>
                        <h5>Users</h5>
                    </div>

                    <div class=" mb-4">
                        <mat-card routerLink="settings" class="link-box box-4 d-flex align-content-center align-items-center justify-content-center">
                            <div class="link-box-text">
                                <mat-icon>settings</mat-icon>

                            </div>
                        </mat-card>
                        <h5>Settings</h5>
                    </div>

                    <div class="  mb-4 ">
                        <mat-card routerLink="gallery" class="link-box box-3 d-flex align-content-center align-items-center justify-content-center">
                            <div class="link-box-text">
                                <mat-icon>collections</mat-icon>
                            </div>
                        </mat-card>
                        <h5>Gallery</h5>
                    </div>


                    <div class=" mb-4">
                        <mat-card routerLink="youtube" class="link-box box-2 d-flex align-content-center align-items-center justify-content-center">
                            <div class="link-box-text">
                                <mat-icon>videocam</mat-icon>
                            </div>
                        </mat-card>
                        <h5>YouTube</h5>
                    </div>

                </div>

                <div class="d-flex justify-content-between pt-3 boxes">
                    <div class="mb-4 ">
                        <mat-card routerLink="all-blogs" class="link-box box-3 d-flex align-content-center align-items-center justify-content-center">
                            <div class="link-box-text">
                                <mat-icon> list_alt</mat-icon>
                            </div>
                        </mat-card>
                        <h5>Blogs</h5>
                    </div>


                    <div class="mb-4">
                        <mat-card routerLink="add-blog" class="link-box box-1 d-flex align-content-center align-items-center justify-content-center">
                            <div class="link-box-text">
                                <mat-icon>comment</mat-icon>
                            </div>
                        </mat-card>
                        <h5>Comments</h5>
                    </div>


                    <div class="mb-4">
                        <mat-card routerLink="add-blog" class="link-box box-5 d-flex align-content-center align-items-center justify-content-center">
                            <div class="link-box-text">
                                <mat-icon>favorite_border</mat-icon>
                            </div>
                        </mat-card>
                        <h5>Likes</h5>
                    </div>

                    <div class="mb-4">
                        <mat-card routerLink="add-blog" class="link-box box-4 d-flex align-content-center align-items-center justify-content-center">
                            <div class="link-box-text">
                                <mat-icon>create</mat-icon>
                            </div>
                        </mat-card>
                        <h5>Add Blog</h5>
                    </div>

                </div>
                <div class="text-center mt-5">
                    <button mat-raised-button class="btn-rounded main-bg-blue text-white mt-5 ">CREATE NEW BLOG</button>
                </div>
            </div>
        </div>
        <div class="row pt-3 m-0 d-none">
            <p>Activities</p>
            <div class="text-center pt-3">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>

                </div>
            </div>
        </div>
        <div class="row  d-none  pt-3 boxes">
            <div class=" col-lg-12 mt-5">
                <div class="table-con border  mt-0 bg-white">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Account No.</th>
                                <th>Owner</th>
                                <th>Balance</th>
                                <th>Created</th>
                                <th class=" d-flex justify-content-end align-content-center align-items-center ">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td class=" d-flex justify-content-end align-content-center align-items-center ">



                                    <button [matMenuTriggerFor]="formMenu" title="Edit account" mat-icon-button>
                                    <mat-icon class="text-muted">more_vert</mat-icon>
                                </button>

                                    <mat-menu #formMenu="matMenu">
                                        <button mat-menu-item>
                                  <mat-icon>dialpad</mat-icon>
                                  <span>Redial</span>
                                </button>
                                        <button mat-menu-item disabled>
                                  <mat-icon>voicemail</mat-icon>
                                  <span>Check voice mail</span>
                                </button>
                                        <button mat-menu-item>
                                  <mat-icon>notifications_off</mat-icon>
                                  <span>Disable alerts</span>
                                </button>
                                    </mat-menu>
                                </td>
                            </tr>
                            <tr>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td class=" d-flex justify-content-end align-content-center align-items-center ">



                                    <button [matMenuTriggerFor]="formMenu" title="Edit account" mat-icon-button>
                                    <mat-icon class="text-muted">more_vert</mat-icon>
                                </button>

                                    <mat-menu #formMenu="matMenu">
                                        <button mat-menu-item>
                                  <mat-icon>dialpad</mat-icon>
                                  <span>Redial</span>
                                </button>
                                        <button mat-menu-item disabled>
                                  <mat-icon>voicemail</mat-icon>
                                  <span>Check voice mail</span>
                                </button>
                                        <button mat-menu-item>
                                  <mat-icon>notifications_off</mat-icon>
                                  <span>Disable alerts</span>
                                </button>
                                    </mat-menu>
                                </td>
                            </tr>
                            <tr>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td>Sample</td>
                                <td class=" d-flex justify-content-end align-content-center align-items-center ">



                                    <button [matMenuTriggerFor]="formMenu" title="Edit account" mat-icon-button>
                                    <mat-icon class="text-muted">more_vert</mat-icon>
                                </button>

                                    <mat-menu #formMenu="matMenu">
                                        <button mat-menu-item>
                                  <mat-icon>dialpad</mat-icon>
                                  <span>Redial</span>
                                </button>
                                        <button mat-menu-item disabled>
                                  <mat-icon>voicemail</mat-icon>
                                  <span>Check voice mail</span>
                                </button>
                                        <button mat-menu-item>
                                  <mat-icon>notifications_off</mat-icon>
                                  <span>Disable alerts</span>
                                </button>
                                    </mat-menu>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>



            </div>

        </div>
    </div>